* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
}

.container {
  background-color: black;
  width: auto;
  height: auto;
  padding: 2.5%;
  margin-top: 3rem;
  border-radius: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  /* height: 150px; */
  margin-bottom: 1rem;
}

.result,
.inputNumber {
  width: 275px;
  height: 50px;
  outline: none;
  background-color: black;
  border: none;
  color: #fff;
  font-size: 35px;
  overflow-y: hidden;
  text-align: right;
  resize: none;
  display: flex;
  flex-direction: column;
  /* padding: 30px 0 0 0; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 15px 0 0;
}

.btn {
  border-radius: 50%;
  border-style: none;
  font-size: 18px;
  width: 55px;
  height: 55px;
  margin: 2px;
}

.btn.special {
  color: black;
  background-color: rgb(120, 120, 120);
}

.btn.special:hover {
  color: white;
  background-color: rgb(170, 170, 170);
}

.btn.operator {
  background-color: rgb(252, 141, 12);
}

.btn.btn.operator:hover {
  background-color: rgb(255, 191, 62);
}

.btn.number,
.btn.decimal {
  background-color: rgb(38, 38, 38);
}

.btn.number:hover,
.btn.decimal:hover {
  background-color: rgb(88, 88, 88);
}

#zero {
  border-radius: 50px;
  width: 118px;
}

#zero p {
  padding-left: 18px;
  text-align: left;
}
