* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  border-radius: 50px;
  color: white;
  height: 80vh;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15rem;
  width: 100%;
  text-align: right;
  padding: 1rem;
  font-size: 4rem;
}

.result {
  opacity: 0.5;
  font-size: 1.5rem;
  overflow: hidden;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  font-size: 3rem;
  height: 6rem;
  width: 6rem;
  transition: filter 0.3s;
}

.btn.special {
  color: black;
  background-color: rgb(120, 120, 120);
}

.btn.special:hover {
  color: white;
  background-color: rgb(170, 170, 170);
}

.btn.number.zero {
  border-radius: 3rem;
  justify-content: flex-start;
  padding-left: 2rem;
  width: 12rem;
}

.btn.operator {
  background-color: rgb(252, 141, 12);
}

.btn.equal {
  background-color: rgb(252, 141, 12);
}

.btn.btn.operator:hover {
  background-color: rgb(255, 191, 62);
}

.btn.number,
.btn.decimal {
  background-color: rgb(38, 38, 38);
}

.btn.number:hover,
.btn.decimal:hover {
  background-color: rgb(88, 88, 88);
}

@media screen and (max-width: 576px) {
  .container {
    width: 350px;
    height: 600px;
  }
  .panel {
    height: 10rem;
    font-size: 3rem;
  }

  .btn {
    font-size: 1.7rem;
    height: 4rem;
    width: 4rem;
  }
  .btn.number.zero {
    border-radius: 2rem;
    padding-left: 1.3rem;
    width: 8rem;
  }
}
